body {
  background-color: #111;

  header {
    position: sticky;
    padding: 20px;
    background-color: #111;
    top: 0;
    z-index: 2;
    color: #fff;

    h1 {
      font-family: Arial;
    }
  }

  main {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    
    div {
      display: grid;
      place-items: center;
      border: 1px solid #fff3;
      background-color: #fff1;
      border-radius: 4px;

      img {
        height: 80%;
        width: 80%;
        transition: transform .3s;
        border-radius: 4px;
        border: 1px solid #000;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}